.inner {
  max-width: 350px;
  margin: 15px auto;
}

.to-from {
  font-family: "Noto Sans KR";
  font-weight: 600;
  font-size: 24px;
}

.to {
  margin-bottom: 16px;
}

.from {
  text-align: right;
  margin-top: 16px;
}

body {
  background-color: #b3b3b3;
}

.q-1 .btn-blue {
  font-size: 21px;
}

.q-2 .question-btn {
  flex-direction: column;
}
.q-2 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-2 .question-btn button:first-child {
  background: url(../images/casemiro-btn.jpg) no-repeat 50% 10%;
  background-size: cover;
}
.q-2 .question-btn button:last-child {
  background: url(../images/fernandes-btn.jpg) no-repeat 50% 27%;
  background-size: cover;
}

.q-3 .question-btn {
  flex-direction: column;
}
.q-3 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-3 .question-btn button:first-child {
  background: url(../images/mainoo-btn.jpg) no-repeat 50% 16%;
  background-size: cover;
}
.q-3 .question-btn button:last-child {
  background: url(../images/garnacho-btn.jpg) no-repeat 50% 10%;
  background-size: cover;
}

.q-4 .question-btn {
  flex-direction: column;
}
.q-4 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-4 .question-btn button:first-child {
  background: url(../images/maguire-btn.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.q-4 .question-btn button:last-child {
  background: url(../images/mcTominay-btn.jpg) no-repeat 50% 3%;
  background-size: cover;
}

.q-7 .question-btn {
  flex-direction: column;
}
.q-7 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-7 .question-btn button:first-child {
  background: url(../images/mcTominay-btn--2.jpg) no-repeat 50% 10%;
  background-size: cover;
}
.q-7 .question-btn button:last-child {
  background: url(../images/rashford-btn.jpg) no-repeat 50% 10%;
  background-size: cover;
}

.q-8 .question-btn {
  flex-direction: column;
}
.q-8 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-8 .question-btn button:first-child {
  background: url(../images/shaw-btn.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.q-8 .question-btn button:last-child {
  background: url(../images/dalot-btn.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.q-10 .question-btn {
  flex-direction: column;
}
.q-10 .question-btn button {
  width: 70% !important;
  height: 200px;
}
.q-10 .question-btn button:first-child {
  background: url(../images/messi.jpg) no-repeat 50% 0%;
  background-size: cover;
}
.q-10 .question-btn button:last-child {
  background: url(../images/ronaldo.jpg) no-repeat 50% 0%;
  background-size: cover;
}

.scoreing {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b3b3b3;
  font-family: "Song Myung", serif;
  font-size: 48px;
}

header {
  font-family: "Song Myung", serif;
  margin-bottom: 30px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
}

.header-bot {
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bot .time {
  border: 1px solid #000;
  padding: 7px;
  border-radius: 16px;
}
.header-bot .subject {
  font-size: 32px;
}
.header-bot .num {
  border: 1px solid #000;
  padding: 7px;
  border-radius: 7px;
}

.warnimg {
  width: 85%;
  margin: 0 auto 50px;
  border: 2px dotted #414141;
  padding: 10px;
  font-family: "Noto Sans KR";
  font-weight: 900;
}
.warnimg .warnimg-title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
  color: rgb(197, 0, 0);
}

.question {
  font-family: "Noto Sans KR";
  font-family: "Song Myung", serif;
  font-weight: 500;
  font-size: 20px;
}
.question .question-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 36px;
}
.question .question-title .question-score {
  font-size: 14px;
  color: #4b4b4b;
  margin-top: 3px;
}
.question .question-img {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.question .question-img img {
  border-radius: 12px;
  width: 60%;
}
.question .question-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.question .question-btn .answer-btn {
  color: #fff;
  width: 150px;
  text-align: center;
  line-height: 60px;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #9b9b9b;
  border-radius: 24px;
}
.question .question-btn .btn--red {
  background-color: rgb(180, 66, 83);
}
.question .question-btn .btn--blue {
  background-color: #5f87c4;
}

.dn {
  display: none;
}

.score-see {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b3b3b3;
  font-family: "Song Myung", serif;
  display: none;
}
.score-see div {
  font-size: 32px;
}
.score-see span {
  color: rgba(255, 0, 0, 0.4392156863);
}
.score-see img {
  width: 80%;
  border-radius: 20px;
}/*# sourceMappingURL=style.css.map */