.inner{
    max-width: 350px;
    margin: 15px auto;
}

.to-from{
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 24px;
}
.to{
    margin-bottom: 16px;
}
.from{
    text-align: right;
    margin-top: 16px;
}

body{
    background-color: #b3b3b3;
}